<% include ../partials/header %>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">YelpCamp</p>
            <div class="list-group">
                <li class="list-group-item">Item 1</li>
                <li class="list-group-item">Item 2</li>
                <li class="list-group-item">Item 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <img src="<%= campground.image %>" class="card-img-top">
                <div class="card-body">
                    <h2 class="card-title"><%= campground.name %></h2>
                    <h4 class="card-title">$9.00/night</h4>
                    <p class="card-text"><%= campground.description %></p>
                    <p>
                        <em>Submitted By <%= campground.author.username%></em>
                    </p>
                    <% if(currentUser && campground.author.id.equals(currentUser._id)){ %>
                    <a href="/campgrounds/<%= campground._id %>/edit" class="btn btn-outline-success px-4">Edit</a>
                    <form action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST" style= "display: inline">
                        <button class="btn btn-outline-danger px-3">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
            <div class="card card-body bg-light my-4">
                <div class="text-right">
                    <a class="btn btn-outline-success" href="/campgrounds/<%= campground._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% campground.comments.forEach(comment => { %>
                <div class="row">
                    <div class="col-md-12">
                        <div class="d-flex justify-content-between">
                            <strong><%= comment.author.username %></strong>
                            <span>10 days ago</span>
                        </div>
                        <p><%= comment.text %></p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                        <a class="btn btn-sm btn-outline-warning" href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit</a>
                        <form action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="post" style="display: inline;">
                            <input type="submit" value="Delete" class="btn btn-sm btn-outline-danger">
                        </form>
                        <% } %>
                        <hr>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>
